/* Main Page Container */
.container {
  margin-left: 230px;
}

iframe {
  border-radius: 30px;
}

.trailer {
  padding: 10px 30px 0 30px;
}

/* Container for Movie Details */
.main-container {
  display: flex;
  flex-direction: column;
  color: #404040;
  width: 100%;
}

.movie-data {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.movie-details {
  width: 100%;
  padding: 20px 40px 0 20px;
}

/* Main Info Section */
.main-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 600;
  padding-top: 10px;
}

.movie-title {
  font-size: 15px;
  margin-bottom: 20px;
}

.release-date {
  font-size: 13px;
}

.runtime-container {
  font-size: 13px;
}

.genre {
  font-size: 14px;
  font-weight: 500;
  color: #B91C1C;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding-left: 13px;
}

.genre p {
  border: 1px solid #F8E7EB;
  border-radius: 15px;
  height: 25px;
  padding: 4px 15px 0px 16px;
  cursor: pointer;
}

.overview-container {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Small Poster Details Container Styles */
.small-poster-details {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
}

.small-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.small-poster img {
  width: 100%;
  max-width: 200px; /* Adjust the maximum width for small screens */
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .container {
    margin-left: 0; /* Remove the left margin on smaller screens */
  }

  .main-container {
    flex-direction: column; /* Stack elements in the main container on smaller screens */
  }

  .movie-data,
  .movie-details {
    padding: 0 20px; /* Reduce padding on smaller screens */
  }

  .main-info {
    flex-direction: column; /* Stack main info elements on smaller screens */
  }

  .genre-list {
    padding-left: 0; /* Remove left padding for genre list on smaller screens */
  }

  .overview-container {
    margin-bottom: 20px; /* Reduce margin for overview on smaller screens */
  }

  .small-poster img {
    max-width: 100%; /* Adjust maximum width for small screens */
  }
}
